body {
  margin: 0px;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  font-family: helvetica;
  font-size: 22px;
  width: 100%;
  height: 69px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0px;
  border-bottom: 1px solid white;
}

.logo img {
  display: flex;
  flex-shrink: 1;
  height: 50px;
  padding-left: 10px;
}

nav {
  display: block;
  text-align: right;
  flex-grow: 1;
}

nav a {
  color: seashell;
  text-decoration: underline;
  padding: 0px 10px;
}

.main {
  display: block;
  padding-top: 69px;
  margin: auto;
  width: 1200px;
}

#mission {
  height: 700px;
  width: 100%;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  padding-top: 70px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.content {
  display: block;
  background-color: black;
  margin: 298px auto;
  flex-grow: 1;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
  text-align: center;
}

h2 {
  font-size: 33px;
}

#month {
  display: block;
  padding-top: 60px;
  height: 700px;
  width: 1000px;
  margin: auto;
}

.five-teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.five-teas img {
  height: 200px;
  width: 300px;
}

.item {
  display: block;
  padding: 5px;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  padding-top: 70px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;
  background-color: black;
  margin: 5px 20px;
  opacity: 1.0;
  padding: 10px;
}
